		<!-- MAIN PANEL -->
		<div role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span> 
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Admin</li><li>Clientes por ciudad</li>
				</ol>

			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			<div id="content">

			<div class="row hidden-mobile">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h1 class="page-title txt-color-blueDark">
						<i class="fa-fw fa fa-puzzle-piece"></i> 
						Ciudades <span>>
						Seleccionar </span></h1>
				</div>
			</div>

			<!-- row -->
			<div class="row">

				<!-- SuperBox -->
				<div class="superbox col-sm-12">			
					<div class="superbox-list2">
						<a href="/admin/calendar/Barranquilla"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/BA.jpg" data-img="img/superbox/superbox-full-1.jpg" alt="Barranquilla" title="Barranquilla" class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Bogota"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/BOG.jpg" data-img="img/superbox/superbox-full-2.jpg" alt="Bogota" title="Bogota" class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Cartagena"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/CART.jpg" data-img="img/superbox/superbox-full-3.jpg" alt="Cartagena" title="Lines of Friendship" class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Cucuta"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/CUCUTA.jpg" data-img="img/superbox/superbox-full-4.jpg" alt="Cucuta" title="Cucuta" class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Florencia"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/FLORE.jpg" data-img="img/superbox/superbox-full-5.jpg" alt="Florencia" title="Florencia" class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Ibague"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/IBA.jpg" data-img="img/superbox/superbox-full-6.jpg" alt="Ibagué" title="Ibagué"  class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Manizales"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/MANIZ.jpg" data-img="img/superbox/superbox-full-7.jpg" alt="Manizales" title="Manizales"  class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Medellin"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/MEDELLIN.jpg" data-img="img/superbox/superbox-full-8.jpg" alt="Medellín" title="Medellín"  class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Monteria"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/MONT.jpg" data-img="img/superbox/superbox-full-9.jpg" alt="Montería" title="Montería"  class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Neiva"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/NEIVA.jpg" data-img="img/superbox/superbox-full-10.jpg" alt="Neiva" title="Neiva"  class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Pasto"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/PASTO.jpg" data-img="img/superbox/superbox-full-11.jpg" alt="Pasto" title="Pasto"  class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Pereira"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/PEREIRA.jpg" data-img="img/superbox/superbox-full-12.jpg" alt="Pereira" title="Pereira"  class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Quindio"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/QUIN.jpg" data-img="img/superbox/superbox-full-13.jpg" alt="Quindío" title="Quindío"  class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Riohacha"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/RIOH.jpg" data-img="img/superbox/superbox-full-14.jpg" alt="Riohacha" title="Riohacha"  class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Santa Marta"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/ST+MAR.jpg" data-img="img/superbox/superbox-full-15.jpg" alt="Santa Marta" title="Santa Marta" class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Tunja"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/TUNJA.jpg" data-img="img/superbox/superbox-full-16.jpg" alt="Tunja" title="Tunja" class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Valledupar"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/VALLE.jpg" data-img="img/superbox/superbox-full-17.jpg" alt="Valledupar" title="Valledupar" class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Villavicencio"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/VILLAVI.jpg" data-img="img/superbox/superbox-full-18.jpg" alt="Villavicencio" title="Villavicencio" class="superbox-img2"></a>
					</div><!--
					--><div class="superbox-list2">
						<a href="/admin/calendar/Yopal"><img src="https://s3-us-west-2.amazonaws.com/fdg-ingenieria/images/Ciudades/YOPAL.jpg" data-img="img/superbox/superbox-full-19.jpg" alt="Yopal" title="Yopal" class="superbox-img2"></a>
					</div>
					<div class="superbox-float"></div>
				</div>
				<!-- /SuperBox -->
				
				<div class="superbox-show" style="height:300px; display: none"></div>

			</div>

			<!-- end row -->

			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->