		<!-- MAIN PANEL -->
		<div role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span> 
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Home</li><li>App Views</li><li>Gallery</li>
				</ol>
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			<div id="content">

<div class="row hidden-mobile">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<h1 class="page-title txt-color-blueDark">
			<i class="fa-fw fa fa-puzzle-piece"></i> 
			App Views <span>>
			Gallery </span></h1>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align-right">
		<div class="page-title">
			<a href="javascript:void(0);" class="btn btn-default">Upload</a>
			<a href="javascript:void(0);" class="btn btn-default">Load Library</a>
		</div>
	</div>
</div>

<!-- row -->
<div class="row">

	<!-- SuperBox -->
	<div class="superbox col-sm-12">
		{{#each cityHash}}
			<div class="superbox-list">														
				<a href="/admin/customers/companies/{{city}}"><img src="{{image}}" data-img="#" alt="{{city}}" title="{{city}}" class="superbox-img"></a>
			</div>
		{{/each}}
		<div class="superbox-float"></div>
	</div>
	<!-- /SuperBox -->
	
	<div class="superbox-show" style="height:300px; display: none"></div>

</div>

	<!-- end row -->

			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->