<!-- MAIN PANEL -->
<div role="main">

	<!-- RIBBON -->
	<div id="ribbon">

		<span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
		</span>

		<!-- breadcrumb -->
		<ol class="breadcrumb">
			<li>Dashboard</li>
			<li>Tickets</li>
		</ol>
        <!-- end breadcrumb -->
        <span class="ribbon-button-alignment pull-right">
                    <a href="/tickets/{{ticketType}}/new"><span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-lg fa-plus-square-o"></i> Crear Ticket</span></a>
        </span>

	</div>
	<!-- END RIBBON -->



	<!-- MAIN CONTENT -->
	<div id="content">

		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
				<h1 class="page-title txt-color-blueDark">

					<!-- PAGE HEADER -->
					<i class="fa-fw fa fa-puzzle-piece"></i> Todos los Tickets
					<span>>  
								{{ticketESP ticketType}}
							</span>
				</h1>
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->

		<!--
					The ID "widget-grid" will start to initialize all widgets below 
					You do not need to use widgets if you dont want to. Simply remove 
					the <section></section> and you can use wells or panels instead 
					-->

		<!-- widget grid -->
		<section id="widget-grid" class="">

			<!-- row -->
			<div class="row">

				<!-- NEW WIDGET START -->
				<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

					<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget well" id="wid-id-0">

						<header>
							<span class="widget-icon"> <i class="fa fa-comments"></i> </span>
							<h2>Tickets </h2>
						</header>

						<!-- widget div-->
						<div>

							<!-- widget edit box -->
							<div class="jarviswidget-editbox">
								<!-- This area used as dropdown edit box -->
								<input class="form-control" type="text">
							</div>
							<!-- end widget edit box -->

							<!-- widget content -->
							<div class="widget-body no-padding">

								<table id="example" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th></th>
											<th>Ticket</th>
											<th><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Avance</th>
											<th>Contactos</th>
											<th>Estado</th>
											<th><i class="fa fa-circle txt-color-darken font-xs"></i> Target/ <i class="fa fa-circle text-danger font-xs"></i>												Actual</th>
											<th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i> Inicio</th>
											<th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i> Fin Est.</th>
											<th>Tracker</th>
										</tr>
									</thead>
								</table>

							</div>
							<!-- end widget content -->

						</div>
						<!-- end widget div -->

					</div>
					<!-- end widget -->

				</article>
				<!-- WIDGET END -->

			</div>

			<!-- end row -->

			<!-- row -->

			<div class="row">

				<!-- a blank row to get started -->
				<div class="col-sm-12">
					<!-- your contents here -->
				</div>

			</div>

			<!-- end row -->

		</section>
		<!-- end widget grid -->
	</div>
</div>
<!-- END MAIN PANEL -->
<form method ="post" action="/tickets/ticket_delete">
	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<input id="delete-ticket-id" name="ticketid">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Confirmar Eliminación</h4>
				</div>
				<div class="modal-body">
					<p>Estás seguro de eliminar este ticket? Una vez eliminado no podrás recuperarlo nuevamente.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button id="modalButton" class="btn btn-danger btn-ok" type="submit">Eliminar Modal</button>
				</div>
			</div>
		</div>
	</div>
</form>