		<!-- MAIN PANEL -->
		<div role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span> 
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li><a href="/home">Inicio</a></li><li><a href="/tickets">Tickets</a></li><li>Nuevo</li>
				</ol>
				<!-- end breadcrumb -->
				<span class="ribbon-button-alignment pull-right">
					<a href="/tickets"><span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-lg fa-align-justify"></i> Ver Tickets</span></a>
				</span> 				
				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			<div id="content">


			<div class="row">
				<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
					<h1 class="page-title txt-color-blueDark">
						
						<!-- PAGE HEADER -->
						<i class="fa-fw fa fa-pencil-square-o"></i> 
							Ticket
						<span>>  
							Crear nuevo
						</span>
					</h1>
				</div>
				
			</div>

			<!-- widget grid -->
			<section id="widget-grid" class="">


				<!-- START ROW -->

				<div class="row">

					<!-- NEW COL START -->
					<article class="col-sm-12 col-md-12 col-lg-12">
						
						<!-- Widget ID (each widget will need unique ID)-->
						<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
							<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
								
								data-widget-colorbutton="false"	
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true" 
								data-widget-sortable="false"
								
							-->
							<header>
								<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
								<h2>Crear/Editar Tickets </h2>				
								
							</header>

							<!-- widget div-->
							<div>
								
								<!-- widget edit box -->
								<div class="jarviswidget-editbox">
									<!-- This area used as dropdown edit box -->
									
								</div>
								<!-- end widget edit box -->
								
								<!-- widget content -->
								<div class="widget-body no-padding">
									
									<form id="order-form" class="smart-form" method ="post" action="/newTicket" enctype="multipart/form-data">
										<header>
											Orden de Trabajo (Ticket)
										</header>

										<fieldset>
											<div class="row">
												<label class="col-md-1 control-label" style= "margin-left: 20px;width: 60px;">Ticket No.:</label>												
												<section class="col col-5">
													<label class="input"> <i class="icon-append fa fa-user"></i>
														<input type="text" id="ticketNumber" name="ticketNumber" placeholder="Numero de Ticket">
													</label>
												</section>
												<label class="col-md-1 control-label" style= "margin-left: 10px;width: 50px;">Titulo:</label>	
												<section class="col col-5" style= "padding-left: 0px;">
													<label class="input"> <i class="icon-append fa fa-briefcase"></i>
														<input type="text" id="title" name="title" placeholder="Ingrese o modifique el título del ticket">
													</label>
												</section>
											</div>

											<div class="row">
												<label class="col-md-1 control-label" style= "margin-left: 20px;width: 60px;">Fecha Creación:</label>
												<section class="col col-3">
													<label class="input"> <i class="icon-append fa fa-calendar"></i>
														<input type="text" name="startdate" id="startdate" placeholder="Fecha de Creación">
													</label>
												</section>
												<label class="col-md-1 control-label" style= "margin-left: 10px;margin-top: 5px;width: 60px;">Tienda:</label>
												<section class="col col-3">
													<label class="select">
														<select name="store">
															<option value="0" selected="" disabled="">Tienda</option>
															{{#each stores}}
																<option value="{{id}}">{{storeName}}</option>
															{{/each}}
														</select> <i></i> </label>
												</section>
												<label class="col-md-1 control-label" style= "margin-left: 10px;margin-top: 5px;width: 60px;">Prioridad:</label>
												<section class="col col-3">
													<label class="select">
														<select name="priority">
															<option value="" selected="" disabled="">Seleccione el grado de prioridad</option>
															<option value="Muy Alto">Alto Riesgo: La falla representa un riesgo humano o para el equipo.</option>
															<option value="Alto">Alta: La falla no le permite continuar con su operación.</option>
															<option value="Medio">Media: La falla le permite continuar con su operación, pero le genera retrasos.</option>
															<option value="Bajo">Baja: La falla le permite continuar con su operación de forma normal.</option>
														</select> <i></i> </label>
												</section>																								
											</div>											
											<section>
												<label class="col-md-2 control-label">Descripción:</label>
												<label class="textarea"> <i class="icon-append fa fa-comment" style="margin-top: 20px;"></i> 										
													<textarea rows="5" id="description" name="description" placeholder="Ingrese la descripción del Ticket con el detalle del inconveniente que presenta."></textarea> 
												</label>
											</section>	
											<section class="col col-8">						
												<div class="form-group">
													<label>Categoría del Incidente (Opcional):</label>
													<select multiple style="width:100%" class="select2" >
														<optgroup label="Electrico">
															<option value="AK">Cortocircuito</option>
															<option value="HI">Otro problema electrico</option>
														</optgroup>
														<optgroup label="Mecánico">
															<option value="NV">Doblez</option>
															<option value="OR">Otro problema mecánico</option>
														</optgroup>
														<optgroup label="Físico">
															<option value="AZ">Rayón</option>
															<option value="CO">Otro problema físico</option>
														</optgroup>
														<optgroup label="Térmico">
															<option value="AL">Sobrecalentamiento</option>
															<option value="AR">Otro problema térmico</option>
														</optgroup>
													</select>
				
													<div class="note">
														<strong>Nota:</strong> seleccionar las categorías consideradas como orígenes del problema.
													</div>
												</div>
				
											</section>																					
											<section class="col col-4">	
												<label>Adjuntar Archivo (Opcional):</label>											
												<div class="input input-file">
													<span class="button"><input id="file2" type="file" name="file2" onchange="this.parentNode.nextSibling.value = this.value">Buscar</span><input type="text" placeholder="Nombre archivo" readonly="">
												</div>
											</section>																															
										</fieldset>
										<div class="note" class="col-md-3 control-label" style= "margin-left: 20px">
											<strong>*</strong> Todos los campos (no opcionales) son requeridos.
										</div>										
										
										<footer>
											<button type="submit" class="btn btn-primary">
												Guardar
											</button>
										</footer>
									</form>

								</div>
								<!-- end widget content -->
								
							</div>
							<!-- end widget div -->
							
						</div>
						<!-- end widget -->				

					</article>
					<!-- END COL -->	
				</div>

				<!-- END ROW -->

			</section>
			<!-- end widget grid -->

			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->